.review {
   @include adaptiveValue("padding-bottom", 50, 30);
   padding-bottom: rem(20);
   // .review__container
   &__container {
      display: flex;
      gap: rem(57);
      @media (max-width: em(1200)) {
         gap: rem(30);
      }
      @media (max-width: $tablet) {
         display: block;
      }
   }
   // .review__info
   &__info {
      width: rem(309);
      flex-shrink: 0;
      @media (max-width: $tablet) {
         width: 100%;
         display: flex;
         gap: rem(17);
         justify-content: space-between;
         align-items: flex-end;
      }
      @media (max-width: $mobileSmall) {
         flex-direction: column;
         align-items: flex-start;
      }
      &:not(:last-child) {
         @media (max-width: $tablet) {
            margin-bottom: rem(25);
         }
         @media (max-width: em(600)) {
            margin-bottom: rem(20);
         }
      }
   }
   // .review__content
   &__content {
      &:not(:last-child) {
         margin-bottom: rem(30);
         @media (max-width: $tablet) {
            margin-bottom: 0;
         }
      }
   }
   // .review__title
   &__title {
      font-size: 40px;
      line-height: math.div(49, 40);
      letter-spacing: -0.02em;
      @media (max-width: $tablet) {
         font-size: rem(30);
      }
      &:not(:last-child) {
         margin-bottom: rem(10);
         @media (max-width: $tablet) {
            margin-bottom: rem(6);
         }
      }
   }
   // .review__count
   &__count {
      font-weight: 700;
      font-size: rem(22);
      line-height: math.div(27, 22);
      letter-spacing: -0.02em;
      @media (max-width: $tablet) {
         font-size: rem(15);
      }
   }
   // .review__all-review
   &__all-review {
      height: rem(47);
      font-weight: 700;
      letter-spacing: -0.02em;
      font-size: rem(22);
      @media (max-width: $tablet) {
         height: rem(38);
         font-size: rem(15);
         padding: rem(0) rem(30);
      }
   }
   // .review__right
   &__right {
   }
   // .review__grid-layout
   &__grid-layout {
      display: flex;
      flex-wrap: wrap;
      gap: rem(20);
      @media (max-width: $tablet) {
         gap: rem(30) rem(26);
      }
      @media (max-width: em(600)) {
         gap: rem(10);
      }
   }
   // .review__item
   &__item {
      width: calc(50% - 10px);
      @media (max-width: $tablet) {
         width: calc(50% - 13px);
      }
      @media (max-width: em(600)) {
         width: 100%;
      }
   }
   // .review__button-wrap
   &__button-wrap {
      display: flex;
      justify-content: flex-end;
   }
   // .review__button-question
   &__button-question {
      padding: rem(5) rem(20);
      height: rem(65);
      width: calc(50% - 10px);
      justify-content: space-between;
   }
}

.item-review {
   background: rgba(149, 149, 149, 0.1);
   border-radius: 30px;
   padding: rem(25) rem(30) rem(38) rem(30);
   @media (max-width: $tablet) {
      padding: rem(15) rem(20) rem(28);
      border-radius: 20px;
   }
   // .item-review__head
   &__head {
      display: flex;
      align-items: center;
      gap: rem(10) rem(20);
      flex-wrap: wrap;
      @media (max-width: $tablet) {
         gap: rem(10);
      }
      &:not(:last-child) {
         margin-bottom: rem(23);
         @media (max-width: $tablet) {
            margin-bottom: rem(15);
         }
      }
   }
   // .item-review__icon-avatar-ibg
   &__icon-avatar-ibg {
      width: rem(50);
      height: rem(50);
      flex-shrink: 0;
      overflow: hidden;
      border-radius: 50%;
      @media (max-width: $tablet) {
         width: rem(30);
         height: rem(30);
      }
   }
   // .item-review__name
   &__name {
      font-weight: 700;
      font-size: rem(22);
      line-height: math.div(27, 22);
      letter-spacing: -0.02em;
      flex: 1 1 auto;
      max-width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      @media (max-width: $tablet) {
         font-size: rem(15);
      }
   }
   // .item-review__date
   &__date {
      font-size: rem(18);
      line-height: math.div(22, 18);
      letter-spacing: -0.02em;
      color: rgba(255, 255, 255, 0.5);
      @media (max-width: $tablet) {
         font-size: rem(15);
      }
   }
   // .item-review__text
   &__text {
      font-weight: 500;
      font-size: rem(18);
      line-height: math.div(22, 18);
      letter-spacing: -0.02em;
      @media (max-width: $tablet) {
         font-size: rem(13);
      }
   }
}
